* 
{
  margin:0;
  box-sizing:border-box;
  font:'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.cabecera
{
	color: #FFF;		
	background-color: #1F2937;
	border-bottom: 2px solid black;
	display: flex;
	flex-direction: column;
	width:100%;
	align-items: center;
	justify-content: space-evenly;
	margin-bottom: 50px;
	padding: 20px;
}



#title-page 
{
  color: #FFF;
  -webkit-text-stroke: 2px #1F2937;
  font-size: 60px;
  margin-bottom: 10px;
}


header 
{
  background-color: #1F2937;
  box-shadow: 1px 10px 10px black;
}



#details 
{
  background-color: white;
  border: 3px solid black;
  border-radius: 15px;
}


.contendorfoot
{ 
	margin-top: 50px;
	padding:20px;
	color: #FFF;			
	font-size:15px;             
	background-color: #1F2937;
	text-align: center;        
}